<div class="register-container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-box">
    <h2>Cadastro de Usuário</h2>

    
    <div class="form-group">
      <label for="nome">Nome</label>
      <input id="nome" type="text" formControlName="nome" required class="form-input" placeholder="Nome Completo" />
      <div *ngIf="registerForm.get('name')?.invalid && validar" class="error-message">
        <small>Nome é obrigatório.</small>
      </div>
    </div>

    <div class="form-group">
        <label for="telefone">Telefone</label>
        <input id="telefone" type="text" formControlName="telefone" required class="form-input" placeholder="+XX (XX) XXXXX-XXXX"/>
        <div *ngIf="registerForm.get('telefone')?.invalid && validar" class="error-message">
          <small>Telefone é obrigatório.</small>
        </div>
      </div>

      <div class="form-group">
        <label for="orcid">Orcid</label>
        <input id="orcid" type="email" formControlName="orcid" required class="form-input" placeholder="Ex: 0000-0002-0123-208X"/>
        <div *ngIf="registerForm.get('orcid')?.invalid && validar" class="error-message">
          <small>Orcid é obrigatório.</small>
        </div>
      </div>

    <div class="form-group">
      <label for="email">E-mail</label>
      <input id="email" type="email" formControlName="email" required class="form-input" placeholder="Ex: joao.vitor@academico.ifpb.edu.br"/>
      <div *ngIf="registerForm.get('email')?.invalid && validar" class="error-message">
        <small>Email é obrigatório e deve ser válido.</small>
      </div>
    </div>

    <div class="form-group">
      <label for="senha">Senha</label>
      <input id="senha" type="password" formControlName="senha" required class="form-input" placeholder="Senha"/>
      <div *ngIf="registerForm.get('password')?.invalid && validar" class="error-message">
        <small>Senha é obrigatória e deve ter pelo menos 6 caracteres.</small>
      </div>
    </div>

    <button type="submit" class="btn-submit">Cadastrar</button>
  </form>
</div>
