<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portal de Projetos Acadêmicos</title>
  <link rel="stylesheet" href="sobre.component.css">
</head>
<body>
  <header>
    <h1>Portal de Projetos Acadêmicos - IFPB</h1>
  </header>
  <nav>
    <a routerLink="/projetos" class="btn">Home</a>
    <a routerLink="/contato">Contato</a>
    <a routerLink="/sobre">Sobre</a>
  </nav>
  <main>
    <h1>Criado por:</h1>
    <div class="membro">Danillo Coelho</div>
    <div class="membro">Cinaglia Adagles</div>
    <div class="membro">Islan Pedro</div>
    <div class="membro">Luciana Pereira</div>
    <h1>Localização:</h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3958.9172793574685!2d-34.873470299999994!3d-7.1355642999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ace810852ae4f1%3A0xaf5445223401f2bb!2sIFPB%20-%20Campus%20Jo%C3%A3o%20Pessoa!5e0!3m2!1spt-BR!2sbr!4v1736899908896!5m2!1spt-BR!2sbr" 
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <h2>Todos os direitos reservados.</h2>
  </main>
  <footer>
    <p>Instituto Federal da Paraíba - Desenvolvido em 2025</p>
  </footer>
</body>
</html>
